@font-face {
  font-family: "Ari";
  src: url(./Fonts/Ari.ttf);
}

@font-face {
  font-family: "Retrospective";
  src: url(./Fonts/Retrospective.ttf);
}

@font-face {
  font-family: "Mollie";
  src: url(./Fonts/Mollie.ttf);
}

@font-face {
  font-family: "Mikodacs";
  src: url(./Fonts/Mikodacs.ttf);
}

@font-face {
  font-family: "Hello";
  src: url(./Fonts/Hello.ttf);
}

.app{
  background-color: #F4CBC6;
}